
.flexContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .flexItem {
    flex: 1;
    min-width: 300px; /* Ensures items don't get too narrow on smaller screens */
  }
  
  @media (max-width: 768px) {
    .flexContainer {
      flex-direction: column;
    }
  }